[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pylint = "==2.8.2"
pytest = "==6.2.3"
pytest-cov = "==2.11.1"
unittest2 = "==1.1.0"

[packages]
# Add runtime dependencies here.

[requires]
python_version = "3.9"
